h3{
  font-size: 1.6875rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "roboto",sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

body {
  font-size: 1rem;
  font-family: "roboto",sans-serif;
  color: #212529;
}

.font-weight-semibold {
  font-weight: 600;
}
.font-20{
  font-size: 1.2em;
}
p{
  margin-bottom: 0px !important;
  font-size: large;
}
.wrapper{
  display: inline-flex;
}
.text-primary {
  color: #2196f3 !important;
}
